<footer>
    <div class="container-fluid mt-5 bg-danger">
        <div class="row d-flex">
            <div class="col">
                <ul class="list-unstyled">
                    <h3 class="mb-3">Redes sociais</h3>
                    <li class="list-inline-item">
                        <a class="nav-link text-white" target="_blank" href="https://pt-br.facebook.com/PizzariaDonRuan/"><i
                                class="bi bi-facebook"></i>

                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link text-white" target="_blank" href="https://www.instagram.com/PizzariaDonRuan/"><i
                                class="bi bi-instagram"></i>

                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link text-white" target="_blank" href="https://www.youtube.com/c/PizzariaDonRuan"><i
                                class="bi bi-youtube"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <H3 class="mb-3">Links</H3>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" target="_blank" href="/">
                            Pagina inicial
                        </a> 
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" target="_blank" href="/cardapio">
                            Cardápio
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" target="_blank" href="/contato">
                            Contato
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" target="_blank" href="/sobre">
                            Sobre
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <h3 class="mb-3">Contato</h3>
                    <li class="nav-item mb-2">
                        <a class="nav-link active text-white" aria-current="page" target="_blank"
                            href="tel: +55 (64)999995555"><i
                                class="bi bi-telephone text-warning">+55 (64)999995555</i></a>
                    </li>
                    <li class="nav-item me-2 ">
                        <a class="nav-link text-white" target="_blank" href="mailto:Pizzariadomramon@gmail.com"><i
                                class="bi bi-envelope text-warning">PizzariaDonRamon@gmail.com</i></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</footer>
</body>
</html>
 