<%- include ('partials/header') %>
    <%- include ('partials/navbar') %>
        <style>
            body {
                background-color: black;
            }
        </style>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/porcoes/Batata Frita com cheddar e bacon.JPEG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Batata frita com cheddar e bacon:</p>
                            <p class="card-text text-center">R$20,00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/porcoes/Feijão tropeiro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/porcoes/St de Carne.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/porcoes/Batatonese.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/sobremesas/Mousse de Marácuja cut.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/sobremesas/Milk Shake.JPEG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card me-4" style="width: 18rem;">
                        <img src="Imagens/sobremesas/Petit Gateau.JPEG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include ('partials/footer') %>