<%- include ('header') %>
<%- include ('navbar') %>
    <div class="container-fluid mt-3">
        <a class="btn btn-primary" href="/perguntar">
            Clique aqui para fazer sua pergunta
        </a>
        <br>
        <a class="btn btn-primary mt-3" href="/responder">
            Clique aqui para responder
        </a>
    </div>
<%- include ('footer') %> 