<div class="container-fluid bg-primary">
    <nav class="navbar">
        <a href="/" class="text-decoration-none text-white">
            <h3>Perguntas & Respostas</h3>
        </a>
    </nav>
</div>
